@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

body {
    background: linear-gradient(to bottom, #FFDAB9, #FFFACD);
    color: #006400;
    font-family: Lora, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}

.info, .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meat, .card {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news {
    height:222px;
    width:222px;
}

h1, h2, p, a {
    margin-bottom: 20px;
}

h1, h2, .topnav a {
    color: #333333;
}

a, .fab {
    color: #606060;
    text-decoration: none;
}

a:hover, .topnav a:hover {
    color: #800000;
}

.card {
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img, .logo {
    width: 15%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.header {
    flex: 1;
    text-align: center;
}

.topnav {
    background-color: #f2f2f2;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    line-height: 1;
}

.topnav a {
    font-size: 17px;
    margin-right: 15px;
}

.topnav a.active {
    color: #4CAF50;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 20px 0;
    width: 100%;
}

.footer div {
    flex: 1 1 200px;
    margin: 10px;
    text-align: center;
}